// Spacing Sizes
$space-xxs: 10px;
$space-xs: 15px;
$space-s: 20px;
$space-m: 30px;
$space-l: 40px;
$space-xl: 60px;
$space-xxl: 80px;
$space-xxxl: 120px;
$space-responsive-xl: clamp(40px, 6vw, 80px);

// Custom Spacing
$space-container-padding: clamp(20px, 4vw, 30px);
$space-layout-mobile: $space-xxl;
$space-layout-desktop: $space-xxxl;
$space-block-y: $space-responsive-xl;

// Spacing Units
$spacing-units: (px, em, rem, vh, vw, '%');
