// Font Families
$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
$font-cormorant-garamond-light: "Cormorant Garamond Light";
$font-cormorant-garamond: "Cormorant Garamond";
$font-manrope-extralight: "Manrope ExtraLight";
$font-manrope: Manrope;

// Font Sizes
$font-size-small: 13px;
$font-size-medium: 20px;
$font-size-large: 36px;
$font-size-x-large: 42px;
$font-size-body-small: 1rem;
$font-size-body: 1.125rem;
$font-size-body-large: 1.25rem;
$font-size-button: 1.125rem;
$font-size-h6: clamp(1.125rem, 1.2vw, 1.5rem);
$font-size-h5: clamp(1.25rem, 1.6vw, 1.75rem);
$font-size-h4: clamp(1.5rem, 2vw, 2rem);
$font-size-h3: clamp(1.75rem, 2.4vw, 2.25rem);
$font-size-h2: clamp(2rem, 3.2vw, 3rem);
$font-size-h1: clamp(2.1875rem, 4.2vw, 4.375rem);

// Line Heights
$line-height-base: 1.45;
$line-height-button: 1;
$line-height-h1: 1.15;
$line-height-h2: 1.2;
$line-height-h3: 1.2;
$line-height-h4: 1.22;
$line-height-h5: 1.32;
$line-height-h6: 1.32;

// Font Weights
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-light: 300;
