{
    "extends": [
        "stylelint-config-sass-guidelines",
        "stylelint-config-idiomatic-order"
    ],
    "plugins": [
        "@stylistic/stylelint-plugin"
    ],
    "overrides": [
        {
            "files": [
                "**/*.scss"
            ],
            "customSyntax": "postcss-scss"
        }
    ],
    "rules": {
        "@stylistic/function-parentheses-space-inside": "never-single-line",
        "@stylistic/indentation": 4,
        "@stylistic/max-empty-lines": [
            1,
            {
                "ignore": [
                    "comments"
                ]
            }
        ],
        "order/properties-alphabetical-order": null,
        "max-nesting-depth": null,
        "selector-class-pattern": null,
        "selector-no-qualifying-type": null,
        "length-zero-no-unit": null,
        "rule-empty-line-before": [
            "always-multi-line",
            {
                "ignore": [
                    "after-comment",
                    "first-nested"
                ]
            }
        ],
        "at-rule-empty-line-before": [
            "always",
            {
                "except": [
                    "blockless-after-blockless",
                    "first-nested"
                ],
                "ignore": [
                    "after-comment"
                ],
                "ignoreAtRules": [
                    "else",
                    "use",
                    "forward"
                ]
            }
        ],
        "order/order": [
            [
                "custom-properties",
                "dollar-variables",
                {
                    "type": "at-rule",
                    "name": "include",
                    "hasBlock": false
                },
                "declarations",
                {
                    "type": "at-rule",
                    "name": "include",
                    "hasBlock": true
                },
                "rules"
            ],
            {
                "unspecified": "bottom"
            }
        ]
    },
    "ignoreFiles": [
        "blocks/**/*.scss",
        "assets/src/scss/variables/**",
        "**/build/**",
        "node_modules/**",
        "vendor/**"
    ]
}
